body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 #episodes {
        margin: 4%;
    }

        #episodes a:hover {
            text-decoration: none;
        }

        #episodes h1 {
            width: 95%;
            margin: 0.5em auto;
            line-height: 90%;
            font-size: 2.5em;
            color: #666;
            text-align: center;
            position: relative;
        }

    .episodes-list {
        padding: 0 .75em;
    }

        .episodes-list li {
            position: relative;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-bottom: 4%;
            transition: box-shadow,transform;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transition-delay: .1s;
        }

            .episodes-list li:hover {
                box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
                transform: scale(1.03, 1.03);
            }

                .episodes-list li:hover::after {
                    opacity: 1;
                }

            .episodes-list li a {
                position: static;
                display: inline-block;
                width: 100%;
                height: auto;
                padding: 40px 40px;
            }

                .episodes-list li a .title {
                    font-weight: 100;
                    line-height: 100%;
                    color: #444;
                }

                .episodes-list li a p {
                    font-size: 18px;
                    line-height: 150%;
                    color: #666;
                    margin-bottom: 0;
                }

    .title {
        border-bottom: 5px solid #5677fc;
        border-bottom-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(125, 125, 125, 0.32);
        text-transform: uppercase;
        padding-left: 0px;
        text-align: left;
        display: block;
        margin-bottom: 1.69492%;
        padding-bottom: 1.69492%;
    }

        .title::after {
            clear: both;
            content: "";
            display: block;
        }

        .ep-name {
            float: left;
        }

        .date {
            text-align: right;
        }

        #series {
        margin: 4%;
    }

        #series a:hover {
            text-decoration: none;
        }

        #series h1 {
            width: 95%;
            margin: 0.5em auto;
            line-height: 90%;
            font-size: 2.5em;
            color: #666;
            text-align: center;
            position: relative;
        }

    .series-list {
        padding: 0 .75em;
    }

        .series-list li {
            position: relative;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-bottom: 4%;
            transition: box-shadow,transform;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transition-delay: .1s;
        }

            .series-list li:hover {
                box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
                transform: scale(1.03, 1.03);
            }

                .series-list li:hover::after {
                    opacity: 1;
                }

            .series-list li a {
                position: static;
                display: inline-block;
                width: 100%;
                height: auto;
                padding: 40px 40px;
            }

                .series-list li a .title1 {
                    font-weight: 100;
                    line-height: 100%;
                    color: #444;
                }

                .series-list li a p {
                    font-size: 18px;
                    line-height: 150%;
                    color: #666;
                    margin-bottom: 0;
                }

    .title1 {
        text-transform: uppercase;
        padding-left: 0px;
        text-align: left;
        display: block;
    }

        .title1::after {
            clear: both;
            content: "";
            display: block;
        }
