@model IEnumerable<MySeries.Web.Models.SeriesAllViewModel>

@{
    ViewBag.Title = "All";
}

<section id="series">
    <h1>Series</h1>

    <ul class="series-list">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("About", "Series" , new { seriesId = item.Id})">
                    <h2 class="title1">@Html.DisplayFor(modelItem => item.Name)</h2>
                </a>
            </li>
        }
    </ul>
</section>
